<%- include("partials/header.ejs") %>
</div>

<div class="container mt-5">
    <div class="about_bt my-5">
        <a  id="calendarView" style="color: white;">Calendar View</a>
    </div>

    <h1 class="about_taital mt-5">Upcoming Bookings</h1>
    <div id="calendarContainer"> 
        <div id='calendar'></div>
    </div>
   

    <!-- Booking Table -->
    <div id="bookingsTableContainer" style="width:100%">
        <table id="upcomingTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>Username</th>
                    <th>Meeting Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Description</th>
                    <th>Attendees</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>

                <% upcomingBookings.forEach(booking => { %>
                    <tr>
                        <td><%= booking.booking_id %></td>
                        <td><%= booking.username %></td>
                        <td><%= booking.date %></td>
                        <td><%= booking.start_time %></td>
                        <td><%= booking.end_time %></td>
                        <td><%= booking.description %></td>
                        <td><%= booking.attendees %></td>
                        <td><%= booking.booking_date %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
 

    <!-- Toggle past bookings -->
    <div class="about_bt my-5">
        <a id="togglePastBookings" style="color: white;">Past Bookings</a>
    </div>
    <div id="pastBookingsSection" class="mt-5" style="display: none;" style="width:100%">
        <h1 class="about_taital mt-5">Past Bookings</h1>
        <table id="pastTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>Username</th>
                    <th>Meeting Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Description</th>
                    <th>Attendees</th>
                    <th>Created Date</th>
                </tr>
            </thead>
            <tbody>
                <% pastBookings.forEach(booking => { %>
                    <tr>
                        <td><%= booking.booking_id %></td>
                        <td><%= booking.username %></td>
                        <td><%= booking.date %></td>
                        <td><%= booking.start_time %></td>
                        <td><%= booking.end_time %></td>
                        <td><%= booking.description %></td>
                        <td><%= booking.attendees %></td>
                        <td><%= booking.booking_date %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
</div>


<script>
    // Serialize the upcoming bookings as JSON
    const upcomingBookings = <%- JSON.stringify(upcomingBookings) %>;
</script>

<%- include("partials/footer.ejs") %>
